/* BurninForm.css */
.burnin-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.mint-burnin-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 30px 20px;
  background-color: rgba(207, 127, 108, 0.8);
  border-radius: 5px;
}

.mint-burnin-info p {
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 10px;
}

/* レスポンシブデザイン対応 */
@media (max-width: 768px) {
  .mint-burnin-info {
    flex-direction: column;
    justify-content: space-around;
    max-width: 600px;
  }

  .mint-burnin-info p {
    margin: 5px 0;
  }
}