.app-header {
    background-color: rgba(240, 236, 175, 0.5);
    color: #fff;
    padding: 0.4rem 0;
    position: relative; /* 追加 */
    height: 80px;

}

.app-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.app-header .logo {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.app-header .logo img {
    height: 2rem;
    margin-right: 0.5rem;
}

.container img {
    width: 150px; /* キャラクターのサイズを小さくする */
    height: auto;
}

