/* ボタンのコンテナスタイル */
.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* 既存のボタンスタイル */
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/* リロードボタンのスタイル */
.reload-button {
    background-color: transparent;
    color: black;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border: none;
}

.reload-button:hover {
    background-color: #4CAF50;
    color: white;
    transform: scale(1.1);
}

.faRedo {
    font-size: 20px;
    color: #6c6c6c;
}

.reload-button:hover .faRedo {
    color: white;
}

/* 成功メッセージのスタイル */
.mint-success-message {
    text-align: center; /* テキストを中央揃えに */
    margin-top: 10px; /* 上部にマージンを設ける */
}
