.nft-image-downloader {
    text-align: center;
}

.connect-wallet-prompt {
    margin-bottom: 20px; /* ウォレット接続ボタンの下のスペース */
}

/* リロードボタンコンテナ */
.reload-button-container {
    display: flex;
    justify-content: center; /* 中央揃え */
    margin-bottom: 20px; /* 下のスペース */
}

.reload-button {
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
}

/* リロードボタンの基本スタイル */
.reload-button {
    background-color: transparent;
    color: black;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    border: none;
}

/* ホバー時のスタイル */
.reload-button:hover {
    background-color: #4CAF50; /* 淡い緑色に変更 */
    color: white;
    transform: scale(1.1); /* ボタンを少し大きくする */
}

/* FaRedo アイコンに適用するスタイル */
.faRedo {
    font-size: 20px;
    color: #6c6c6c;
}

.reload-button:hover .faRedo {
    color: white;
}

.slider {
    display: flex;
    align-items: center;
    justify-content: space-between; /* スペースを最大限に広げる */
    margin: 0 auto; /* 中央寄せ */
    max-width: 500px; /* スライダーコンテナの最大幅を設定 */
    padding: 0 40px; /* 左右に40pxのパディングを追加 */
}

.image-container img {
    max-width: 200px;
    max-height: 200px;
    transition: transform 0.5s ease;
}

.slider-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #d3d3d3;
    transition: color 0.3s ease;
    margin: 0 20px; /* 左右に20pxのマージンを追加 */
}

.slider-button:hover {
    color: rgb(255, 255, 255);
}

.download-button-container {
    margin-bottom: 20px; /* ダウンロードボタンの下のスペース */
}

.download-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* スマホ向けのレスポンシブデザイン */
@media (max-width: 768px) {
    .nft-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
